@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    font: 100%;
    overflow-x: hidden;
        background: #f3f3f3f3;
}
main{
    width: 100%;
    padding: 0 5rem;
}
section{
    width: 100%;
    min-height: 90vh;
    padding: 1rem 0;
}
/* responsive */
@media screen and (max-width: 650px){
    main{
        padding: 0 1rem;
    }
}